.busca {
  margin-top: 5rem;
  padding-top: 5rem;
  margin: 5rem 0;
  font-size: larger;
}

.busca img {
  width: 400px;
  height: 250px;
}

.busca p {
  color: #071b3d;
  padding: 0.15rem 0;
  margin-right: 1rem;
}

.busca {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem 1rem;
  margin: 0 1rem;
}

.busca svg {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.a:hover {
  cursor: pointer;
  opacity: 0.7;
}

.modal p,
button {
  color: #071b3d;
}

.modal img {
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.modal button {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  border: #96e6a1 1px solid;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.modal button:hover {
  border: transparent;
}

.modal .closed {
  position: absolute;
  top: 0;
  right: 0;
  border: #d4fc79 1px solid;
  font-weight: bold;
  margin-top: 0px;
  border-radius: 0rem;
}

.modal .closed:hover {
  border: initial;
  cursor: pointer;
  outline: none;
}

.socialMedias {
  display: flex;
  justify-content: space-between;
}

.socialMedias > div {
  display: flex;
  gap: 0.5rem;
}

.socialMedias svg {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.socialMedias a {
  justify-content: right;
  justify-items: right;
  justify-self: right;
  align-items: flex-end;
}
