.mainComp {
  margin: 5rem 0;
}

.mainComp img {
  height: 250px;
  min-width: 400px;
}

.mainComp p {
  color: #071b3d;
  padding: 0.15rem 0;
  margin-right: 1rem;
}

.mainComp > div {
  display: flex;
  gap: 1rem;
  margin: 0 1rem;
  background-color: #ececec;
}

.mainComp svg {
  font-size: 2rem;
  margin-top: 1.5rem;
}

.mainComp .map {
  margin: 2rem 0 0 1rem;
  background-color: transparent;
}

.map iframe {
  height: 250px;
  width: 100%;
  margin-right: 1rem;
  border: none;
}
