.grid {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}

.grid div {
  height: 100px;
}

.grid img {
  height: 100%;
  object-fit: cover;
}

.grid nav ul {
  display: flex;
  gap: 3rem;
}

.flx {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 3rem;
}

.grid li {
  position: relative;
}

.grid li a {
  position: relative;
  display: block;
  padding: 1rem;
}

.grid li a:hover {
  background-color: #96e6a1;
}

.grid li ul {
  position: absolute;
  display: none;
}

.grid li:hover ul,
.grid li.over ul {

  display: block;
}

.grid li ul li {
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: .5rem .2rem;
  border: 1px solid #96e6a1;
  display: block;
  width: 150px;
}