@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --first-color: #071B3D;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: var(--first-color);
}

h1 {
  padding: 5rem 0;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

h2 {
  padding-bottom: 5rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  max-width: 1296px;
  margin: auto;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}